extends layout

block content
  .ui.relaxed.selection.list
    .header #{repo}/#{branch}
    each commit in commits
      a.item(href="#{baseUrl}/#{repo}/#{commit.sha.substring(0,6)}/build")
        i.large.code.middle.aligned.icon
        .content
          .header #{moment(commit.date).format('MMMM Do YYYY, h:mm:ss a')}#{commit.author} 
          .description
            strong #{commit.message}
            strong #{commit.sha.substring(0,6)}
